@charset"UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
/*importando fonte do google /\ */
/*google.com/fonts repositório de fontes*/
@font-face {/*importando uma fonte própria*/
	font-family: 'FonteLogo';/*nome que estou dando para a fonte*/
	src: url("../_fonts/bubblegum-sans-regular.otf");/*nome do arquivo q está a fonte*/
} 

body{
	font-family: Arial, sans-serif; /*todo o texto será arial e sem serifa*/
	background-color: #dddddd;
	color:rgba(0,0,0,1);
}

div#interface{
	width: 900px;
	background-color: #ffffff;
	margin: -20px auto 0px auto; /*-20(gruda no topo), auto(redimenciona de acordo com o tamanho da tela, direita), 0 baixo, auto(resize,esquerda)*/
	box-shadow: 0px 0px 10px rgba(0,0,0,.5); /*sobreado entorno do box*/
	padding: 10px 10px 10px 10px; /*distancia interna das coisas(imagens,textos), para não grudar no box*/
}

p{
	text-align:justify; 
	text-indent:50px;
}

a{ /*todos os links serão cinza e sem sublinhado*/
	color: #606060;
	text-decoration: none;
}

a:hover{/*quando passar o mouse por cima, ele ficará sublinhado*/
	text-decoration:underline;
}

header#cabecalho img#icone{
	position: absolute;
	left: 950px;
	top: 70px;
}

header#cabecalho{
	border-bottom: 1px #606060 solid; /*colocar uma barra horizontal no topo*/
	height: 100pt;
	background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 75px;/*(.. volta uma pasta)*/
}

header#cabecalho h1{ /*para todo cabeçaho h1, aplica-se*/
	font-family: 'FonteLogo', sans-serif;
	font-size: 30px;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px; 
}

header#cabecalho h2{
	font-family: 'Titillium Web', sans-serif;
	font-size: 15pt;
	color: #888888;
	padding: 0px;
	margin-top: 0px;

}

/*Formatação de imagens com legendas*/

figure.foto-legenda{
	position: relative;
	border: 8px solid white; /*bordas*/
	box-shadow:1px 1px 4px black;
}

figure.foto-legenda img{/*figura se desloca junto com as bordas*/
	width: 100%;
	height: 100%;

}

figure.foto-legenda figcaption{/*posição da legenda*/
	opacity: 0; /*ficar transparente*/
	position: absolute;
	top: 0px;
	background-color: rgba(0,0,0,.4);/*colocando uma borda preta para a legenda com transparencia .4*/
	color: white; /*dando cor branca à escrita*/
	width: 100%; /* de acordo com o tamanho da imagem o fundo vai crescer ou diminuir*/
	height: 100%;
	padding: 10px; /*uma distância no início da legenda*/
	box-sizing: border-box; /*cria um box dentro da borda, assim a legenda não ultrapassa a imagem*/
	transition: opacity 1s; /* tempo para legenda sair quando o mouse passar pela imagem*/

}

figure.foto-legenda:hover figcaption{ /* quando passar o mouse, a legenda some*/
	opacity: 1
}

/*Formatação Menu*/
nav#menu ul{ /* #menu significa id menu*/
	display: block; /*falo que meu menu é um bloco, pois blocos podem flutuar na tela*/
}
nav#menu ul{
	list-style: none; /*retira os marcadores*/
	text-transform: uppercase; /*tudo maiusculo*/
	position: absolute; /*fica livre no site*/
	top: -20px;
	left: 500px;
}

nav#menu li{
	display: inline-block; /*para exibir tudo na mesma linha*/
	background-color: #dddddd;/*cor de fundo*/
	padding: 10px; /*colocar espaçamento dentro do objeto*/
	margin: 2px; /* espaçamento fora do objeto*/
	-webkit-transition: background-color 1s;/*para navegadores mais antigos*/
	-moz-transition: background-color 1s;
	-ms-transition: background-color 1s;
	-o-transition: background-color 1s;
	transition: background-color 1s; /*colocar transição de cor no menu(mas isso não é oficial em todos os navegadores)*/
}

nav#menu li:hover/*efeito de quando passar o mouse por cima*/{
	background-color: #606060;

}

nav#menu h1{
	display: none; /*Esconder as palavras "Menu Principal"*/
}

nav#menu a {  /*configurando todos os links do menu*/
	color: #000000;  /*cor preta*/
	text-decoration: none; /*sem sublinhado*/
}

nav#menu a:hover{/*quando mouse passar por cima o link muda de cor*/
	color: #ffffff; 
	text-decoration: underline; /*quando o mouse passar ele muda para sublinhado*/
}

section#corpo {
	display: block;
	width: 500px;
	float: left;
	border-right: 1px solid #606060; /*borda do lado direito*/
	padding-right: 15px;

}

article#noticia-principal h2{
	font-size: 13pt;
	color: #606060;
	background-color: #dddddd;
	padding: 5px 0px 5px 10px;
	margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
	font-family: 'FonteLogo',sans-serif;
	font-size: 20pt;
	color: #606060;
	margin-bottom: 0px;
	margin-top: 0px;
}

header#cabecalho-artigo h2{
	font-size: 13pt;
	color: #cecece;
	background-color: #ffffff;
}

header#cabecalho-artigo h3{
	font-size: 12px;
	color: #606060;
}

.direita{ /* o mesmo que "header#cabecalho-artigo h3.direita" */
	text-align:right;
}

table#tabelaspec { /*cria a borda externa da tabela*/
	border: 1px solid #606060;
	border-spacing: 0px; /*retira o espaço entre as células*/
	margin-left: auto; /*para centralizar*/
	margin-right: auto;

}

table#tabelaspec td { /*mexe com toda a borda que for td(interno)*/
	border: 1px solid #606060;
	padding: 10px; /*espaço interno de qualquer objeto*/
	text-align:center;
	vertical-align: middle;
}

table#tabelaspec td.ce {
	color: #ffffff; /*letras brancas*/
	background-color: #606060; /*fundo cinza escuro*/
	vertical-align: top;/*alinhado à primeira linha (classe sobrepõe)*/
	font-weight: bold; /*negrito*/
	text-align: right;
}

table#tabelaspec caption{ /*configurando o título da tabela*/
	color: #888888;
	font-size: 13pt;
	font-weight: bolder;

}

table#tabelaspec td.cd{
	background-color: #cecece;
	
}

table#tabelaspec caption span{
	display:block;
	float: right;
	color: #000000;
	font-size: 8pt;
	margin-top: 10px;
}

aside#lateral{
	display: block;
	width: 350px;
	float: right;
	background-color: #dddddd;
	padding: 10px;
	margin-top: 10px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1{
	font-family: 'FonteLogo',sans-serif;
	font-size:20pt;
	color: #606060;
	margin-top: 0px;
}

aside#lateral h1{
	background-color: #606060;
	font-size: 15pt;
	color: #ffffff;
	padding: 5px;

}

footer#rodape{
	clear: both; /*como se limpasse as configurações*/
	border-top: 1px solid #606060; /*borda em cima*/
}

footer#rodape p{
	text-align:center; /*centralizado*/
}